.menu{
  background-color: black;
  padding: 20px;
  text-align: left;
}
.menu a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.menu a.active{
  background-color: gray;
}
.menu .icon{
  display: none;
}
.overlay{
  width: 200px;
  background-color: #464646;
position: absolute;
left: -300px;
top: 10;
height: 600px;
transition: all 1s;

}
.cav-active{
  left: 0px;
}
.overlay a{
  display: block;
  float: none;
  padding: 10px;
  color: white;
  text-decoration: none;

}
